body{margin: 0px; background:linear-gradient(white,yellow,lightgreen,blue);
    background-repeat:no-repeat; background-size: cover; background-attachment: fixed; }
.head{text-align:center; font-family: 'Protest Strike', sans-serif; font-size: 80px;}
.intro{text-align: center; font-family:'caveat', 'cursive'; font-size: 40px; margin-left: 5%; margin-right: 15%; }
nav{margin-top: 5%; display:flex; justify-content: center; height: 7%;}
.nav{display: inline-table; padding: 2.5%; background-color: orange; height: 7%;}
a{text-decoration: none; font-size: 35px; height: 7%; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.nav:hover, A:hover{background-color: brown;}
img{width: 260px; height: 300px; float: left; margin-left: 10%; margin-right: 10%;}
.skill{ font-size: 40px; margin-left: 10%; margin-top:1%;}
.bold{text-align:center; font-family: 'Protest Strike', sans-serif; font-size: 160px;}